name: Release

on:
  release:
    types:
      - created
      - edited
      - released

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0 # Needed for git describe to work. Yes thats a lil silly
        fetch-tags: true
        filter: "tree:0"

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2

    - name: Restore NuGet packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: Build
      working-directory: ${{env.GITHUB_WORKSPACE}}
      # Add additional options to the MSBuild command line here (like platform or verbosity level).
      # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} /p:VcsVersion=$(git describe --always) ${{env.SOLUTION_FILE_PATH}}

    - name: Airports json
      run: Invoke-WebRequest -Uri "https://raw.githubusercontent.com/mwgg/Airports/refs/heads/master/airports.json" -OutFile "Release/airports.json"

    - name: Artifact
      uses: actions/upload-artifact@v4
      with:
        name: release
        path: Release/

    - name: Compress
      run: Compress-Archive -Path .\Release\* -DestinationPath Release.zip

    - name: Add to release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release upload ${{ github.event.release.name }} Release.zip --clobber
